<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blog page</title>
    <meta content="" name="author" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/assets/js/app.js" defer></script>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand navbar-dark bg-dark"
        aria-label="Second navbar example"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/img/logo.png" alt="logo" />
          </a>
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/message.html">Send message</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/read">Messages</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <header>
    <main role="main" class="container">
      <div class="row">
        {% if message: %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        {% endif %}
        <div class="col-md-8 container-fluid p-4">
          <!-- block message -->
          {% for timestamp, message in messages.items() %}
          <div class="card m-4">
            <div class="card-body">
              <h2 class="card-title">{{ message.username }}</h2>
              <p class="card-text">
                {{ message.message }}
              </p>
            </div>
          </div>
          {% endfor %}
          <!-- end block blog-post -->
        </div>
        <!-- /.blog-main -->
      </div>
    </main>
  </body>
</html>
